* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-image: url(./product.jpg);
  /* background: #1c1c1c; */
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  border: 0.1px solid transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taypro-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taypro-card {
  width: 350px;
  height: 400px;
  padding: 10px 36px;
  /*background: transparent;
  */
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.01);
  box-shadow: 10px 35px 35px rgba(129, 124, 124, 0.2);
  /*border-radius: 1px;
  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*border: 1px solid #ddd;
  */
  border-radius: 0px;
  margin: 70px auto 24px auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.taypro-card > .tayproHeading {
  padding-top: 10px;
  font-weight: 700;
  font-size: 2px;
}

.taypro-card label {
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}

.taypro-card .input {
  width: 270px;
  margin: 3px auto;
  padding: 10px 10px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  outline: none;
}

.taypro-card .signin-button {
  width: 270px;
  margin-top: 7px;
  font-weight: 600;
  height: 35px;
  color: #ffffff;
  background-color: #000;
  /*border: 1px solid #000;
  */
  outline: none;
  border: none;
  border-radius: 4px;
  transition: all 0.9s;
  /*animation: pulse 1.8s infinite;
  */
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
}

/* @keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #000;
  }
  65% {
    box-shadow: 0 0 0 10 transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
} */

.taypro-card .signin-button:hover {
  color: #ffffff;
  background-color: #0f0f0f;
  /* border: 1px solid #ffffff; */
}

.taypro-card p,
.taypro-card p a {
  margin-top: 10px;

  font-size: 15px;
  width: 100%;
  line-height: 1.5;
}

.break p {
  font-weight: 700;
}

.forgotLink {
  color: rgb(255, 255, 255);
}

.forgotLink:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
