.taypro-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taypro-card {
  width: 350px;
  height: 400px;
  padding: 10px 36px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 70px auto 24px auto;
}

.taypro-card > .tayproHeading {
  padding-top: 10px;
  font-weight: 700;
  font-size: 2px;
}

.taypro-card label {
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}

.taypro-card input {
  width: 283px;
  margin: 3px auto;
  padding: 10px 10px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  outline: none;
}

.taypro-card .signin-button {
  width: 283px;
  margin-top: 20px;
  font-weight: 500;
  height: 35px;
  color: #fff;
  background-color: #1c1c1c;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  background-image: linear-gradient(#1d1d1c #444444);
  border-radius: 4px;
}

.taypro-card .signin-button:hover {
  color: #ffffff;
  background-color: #393939;
}

.taypro-card p,
.taypro-card p a {
  margin-top: 10px;

  font-size: 15px;
  width: 100%;
  line-height: 1.5;
}

.break p {
  font-weight: 700;
}
